@using GYTWebApplication.Models
@*@model IEnumerable<Tour>*@
@*@model FiltrarViewModel*@

@{
    //IEnumerable<Tour> tours = ViewData["tours"] as IEnumerable<Tour>;

    var urlListar = Url.Action ("ListarTours", "Tour");
    var UrlBuscar = Url.Action("Filtrar", "Tour");
}

<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">
        @*style="max-width: 1440px;">*@
    <div class="row align-items-center">
        <div class="col-lg-3">
            <div class="form_area">
                <h3>Where you want to go?</h3>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="search_wrap">
                <form class="search_form" id="FiltroForm">
                    <div class="input_field">
                        <input name="Destino" type="text" placeholder="Where to go?">
                    </div>
                    <div class="input_field">
                        <input name="Inicio" type="date" placeholder="Date" class="fix-something">
                    </div>
                    <div class="input_field">
                        <input name="Fin" type="date" placeholder="Date" class="fix-something">
                    </div>
                    @*
                        <div class="input_field">
                            <select>
                                <option data-display="Travel type">Travel type</option>
                                <option value="1">Some option</option>
                                <option value="2">Another option</option>
                            </select>
                        </div>
                    *@
                    <div class="search_btn">
                        <button class="boxed-btn4 " type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- where_togo_area_end  -->

<div class="popular_places_area">
    <div class="container" style="max-width: 1440px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="row mostrarDatos">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var cuerpo = ``;
        $(document).ready(function () {
            ListarTours ();


            $("#FiltroForm").submit(function(){

                var form = $(this);
                $.ajax({
                    url: '@UrlBuscar',
                    data: form.serialize(),
                    type: 'POST',
                    dataType: 'json',
                    success: function(data){
                        $(".mostrarDatos").empty();
                        for (var i = 0; i < data.length; i++) {
                            cuerpo += `<div class="col-lg-12 col-md-12">
                                        <div class="single_place">
                                           <div class="thumb">
                                             <div class="place_info">
                                                <a href="destination_details.html"><h3>${data[i].nombre}</h3></a>
                                                <p>${data[i].destino}</p>
                                                <div class="rating_days d-flex justify-content-between">
                                                    <span class="d-flex justify-content-center align-items-center">
                                                          <i class="fa fa-star"></i>
                                                          <i class="fa fa-star"></i>
                                                          <i class="fa fa-star"></i>
                                                          <i class="fa fa-star"></i>
                                                          <i class="fa fa-star"></i>
                                                          <a href="#">(20 Review)</a>
                                                    </span>
                                                    <div class="days">
                                                        <i class="fa fa-clock-o"></i>
                                                        <a href="#">${data[i].duracion} Days</a>
                                                    </div>
                                                </div>
                                             </div>
                                           </div>
                                        </div>
                                      </div>`;
                        }

                        $(".mostrarDatos").html(cuerpo);
                    },
                    error: function(xhr, error, status){
                        console.log(error);
                        alert("error en el filtrado");
                    }
                });
            });


        });

        function ListarTours() {
            $.ajax({
                url:'@urlListar',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        cuerpo += `<div class="col-lg-12 col-md-12">
                                    <div class="single_place">
                                       <div class="thumb">
                                         <div class="place_info">
                                            <a href="destination_details.html"><h3>${data[i].nombre}</h3></a>
                                            <p>${data[i].destino}</p>
                                            <div class="rating_days d-flex justify-content-between">
                                                <span class="d-flex justify-content-center align-items-center">
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <i class="fa fa-star"></i>
                                                      <a href="#">(20 Review)</a>
                                                </span>
                                                <div class="days">
                                                    <i class="fa fa-clock-o"></i>
                                                    <a href="#">${data[i].duracion} Days</a>
                                                </div>
                                            </div>
                                         </div>
                                       </div>
                                    </div>
                                  </div>`;
                    };

                    $(".mostrarDatos").html(cuerpo);
                },
                error: function (xhr, error, status){
                    alert (":-(");
                }
            });
        }

    </script>
}