@using GYTWebApplication.Models
@model IEnumerable<Tour>

@{ 

}

<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">@*style="max-width: 1440px;">*@
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3>Where you want to go?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" action="#">
                        <div class="input_field">
                            <input type="text" placeholder="Where to go?">
                        </div>
                        <div class="input_field">
                            <input id="" type="date" placeholder="Date" class="fix-something">
                        </div>
                        <div class="input_field">
                            <input id="" type="date" placeholder="Date" class="fix-something">
                        </div>
                        @*
                        <div class="input_field">
                            <select>
                                <option data-display="Travel type">Travel type</option>
                                <option value="1">Some option</option>
                                <option value="2">Another option</option>
                            </select>
                        </div>
                        *@
                        <div class="search_btn">
                            <button class="boxed-btn4 " type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- where_togo_area_end  -->

<div class="popular_places_area">
    <div class="container" style="max-width: 1440px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-12 col-md-12">
                            <div class="single_place">
                                <div class="thumb">
                                    <img src="img/place/1.png" alt="">
                                    @*<a href="#" class="prise">$500</a>*@
                                </div>
                                <div class="place_info">
                                    <a href="destination_details.html"><h3>@item.Nombre</h3></a>
                                    <p>@item.Destino</p>
                                    <div class="rating_days d-flex justify-content-between">
                                        <span class="d-flex justify-content-center align-items-center">
                                            @for (int i = 0; i <= 5; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            @*
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            *@
                                            <a href="#">(20 Review)</a>
                                        </span>
                                        <div class="days">
                                            <i class="fa fa-clock-o"></i>
                                            <a href="#">@item.Duracion Days</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
